.navbar {
    // box-shadow: $navbar-shadow;
    // background-color: $navbar-body-color;
    background: $navbar-body-color;
    color: $icon-bar !important;
    // height: 80px;
    z-index: 12;
    // @include transition(.3s);
    .navbar-brand {
        color: $base-color;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 1.5em;
        height: 60px;
        z-index: 12;
    }
    .nav-link {
        color: $navbar-text-clor;
        display: block;
        font-size: 0.9em;
        letter-spacing: 1px;
        &:hover,
        &.active {
            /* border-bottom: 1px solid rgb(28, 121, 184); */
            color: $base-color;
            transition: all 0.5s ease;
            -webkit-transition: all 0.3s ease;
        }
    }
    .collapse {
        transition: all 1000ms ease-in-out;
    }
    .navbar-social {
        display: flex;
        justify-content: center;
        .fab {
            font-size: 28px;
        }
    }
}

.navbar.scrolled {
    background: $gray-900;
    // box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
/*======================================================
                    Mobile Menu Menu Icon
  ======================================================*/
@include media-breakpoint-up(lg) {
    .navbar{
        .mobile-nav {
            display: none;
        }
    }
}
@include media-breakpoint-down(lg) {
    .logo.logo-active {
        z-index: 12;
        a {
            color: $gray-900;
        }
    }
    .navbar {
        .mobile-nav {
            .hamburger-menu {
                width: 55px;
                height: 55px;
                background: transparent;
                // position: fixed;
                border: none;
                // top: 0.8rem;
                // right: 0.8rem;
                outline: none;
                border-radius: 50%;
                z-index: 200;
                transition: all $speed;
                .line1,
                .line2,
                .line3 {
                    height: 2px;
                    width: 28px;
                    background: #eee;
                    margin: 5px auto 5px auto !important;
                    transition: all $speed;
                }
            }
            .bg-cover {
                background-color: $dark;
                height: 55px;
                width: 55px;
                position: fixed;
                z-index: 100;
                top: 0.8rem;
                right: 0.8rem;
                border-radius: 50%;
                transition: all $speed;
            }
        }
        .mobile-nav.is-active {
            .hamburger-menu {
                background: transparent;
                .line1 {
                    transform: rotate(-405deg) translate(-5px, 5px);
                    background: $gray-400;
                }
                .line2 {
                    opacity: 0;
                }
                .line3 {
                    transform: rotate(405deg) translate(-5px, -5px);
                    background: $gray-400;
                }
            }
            .bg-cover {
                transform: scale(150);
                overflow: hidden;
                // overflow-y: scroll;
            }

            .nav-content {
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                overflow: hidden;
                z-index: 100;
            }
            .primary-nav {
                text-align: center;
                a {
                    // padding: 0.4rem 0.6rem 0.4rem 0.6rem;
                    text-decoration: none;
                    font-weight: 500;
                    color: $gray-100;
                    &:hover,
                    &::selection {
                        color: $primary;
                    }
                }
                .active {
                    color: $primary;
                }
            }
        }
    }
}

/*======================================================
                   Responsive Mobile Menu 
  ======================================================*/
.overlay-menu {
    background: #ffafbd; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #ffafbd,
        #ffc3a0
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffafbd, #ffc3a0);
    color: $icon-bar;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    padding-right: 15px;
    // transform: translateX(-100%);
    // width: 100vw;
    // height: 100vh;
    -webkit-transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
    z-index: 11;
    ul,
    li {
        display: block;
        position: relative;
    }
    li a {
        display: block;
        font-size: 1.8em;
        letter-spacing: 4px;
        /*   opacity: 0; */
        padding: 10px 0;
        text-align: right;
        text-transform: uppercase;
        -webkit-transition: color 0.3s ease;
        transition: color 0.3s ease;
        /*   -webkit-transition: 0.2s opacity 0.2s ease-out;
  transition: 0.2s opacity 0.2s ease-out; */
    }
    &:hover,
    &:active {
        color: rgb(28, 121, 184);
        -webkit-transition: color 0.3s ease;
        transition: color 0.3s ease;
    }
}
